html, body, header, nav,
h1, h2, h3,
strong, ul, ol, li, p {
    margin: 0;
    padding: 0;
}

h1, h2, h3, strong {
    font-weight: normal;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0,0,0,0);
    margin: -1;
    overflow: hidden;
}

.wrap {
    background-color: #f6f5f5;
    min-width: 1024px;
}

.page_nav {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.nav_items {
    background-color: #00334e;
    width: 800px;
    color: #797a7e;
    margin: auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.nav_items:after {
    content: '';
    display: block;
    clear: both;
}

.nav_item {
    float: left;
}

.nav_link {
    display: inline-block;
    width: 100px;
    color: #f2f4f7;
    text-align: center;
    font-size: 18px;
    line-height: 50px;
}

.resume_intro {
    position: relative;
    height: 100vh;
    background-color: #00334e;
}

.intro_banner {
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
}

.intro_content {
    position: relative;
    display: inline-block;
    width: 800px;
    margin: auto;
    background-color: #00334e;
    color: #f6f5f5;
    font-size: 100px;
    line-height: 120px;
    padding: 0 10px;
}

.intro_content:before {
    position: absolute;
    top: -10px;
    left: -10px;
    content: '';
    background-color: #ee6f57;
    width: 50px;
    height: 50px;
    z-index: -1;
}

.intro_content:after {
    position: absolute;
    right: -10px;
    bottom: -10px;
    content: '';
    background-color: #ee6f57;
    width: 50px;
    height: 50px;
    z-index: -1;
}

.intro_greeting {
    text-align: left;
}

.intro_name {
    text-align: right;
}

.blinking{
    -webkit-animation:blink .5s ease-in-out infinite alternate;
    -moz-animation:blink .5s ease-in-out infinite alternate;
    animation:blink .5s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}