.Profile {
  padding-top: 2rem;
  div {
    text-align: center;
  }
  .icon {
    width: 2rem;
    height: 2rem;
    // background: url('/images/github-brands.svg') no-repeat;
    background-size: cover;
    display: inline-block;
  }
  .subname {
      font-style: normal;
  }
}
